<section class="quote-callout">
  <div class="callout-content">
    <h2>Call us for a <span>free quote</span> today.</h2>
    <div class="phone-link">
      <i class="fa fa-phone" aria-hidden="true"></i><span itemprop="telephone"><a href="tel:+19026290603">902.629.0603</a></span>
    </div>
  </div>
</section>