    </main>
    <footer>
      <div class="footer-content">
        <address class="contact-info">
          <p>Master Exteriors</p>
          <p>24 MacKenzie Road</p>
          <p>RR #256, Winsloe PE</p>
          <p>C1E 2T8</p>
          <br>
          <p><a href="mailto:matt@masterexteriors.com" target="_top">matt@masterexteriors.com</a></p>
          <p><a href="tel:1-902-629-0603">(902) 629-0603</a></p>
        </address>
        <div class="site-build">
          <p>Site designed &amp; built by <a href="http://joshcoles.com" target="_blank">Josh Coles</a>.</p>
        </div>
      </div>
    </footer>
  </body>
</html>
