    </main>
    <footer>
      <address class="contact-info">
        <p>Master Exteriors</p>
        <p>123 Fake Street</p>
        <p>Fakesville PE, C1F AKE</p>
        <br>
        <p><a href="mailto:matt@masterexteriors.com" target="_top">matt@masterexteriors.com</a></p>
        <p><a href="tel:1-902-629-0603">(902) 629-0603</a></p>
      </address>
    </footer>
  </body>
</html>
