<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />

    <title>Master Exteriors</title>

    <!-- Stylesheets & Fonts -->
    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Arvo:400,700" type="text/css">

    <!-- Scripts -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" ></script>
    <script src="../scripts/index.js" ></script>

    <!-- Image slider -->
    <link rel="stylesheet" type="text/css" href="../css/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="../css/slick/slick-theme.css"/>
    <script type="text/javascript" src="../css/slick/slick.min.js"></script>

  </head>


  <body>

    <header id="mobile-header">
      <h1>Master Exteriors</h1>
      <div class="nav-button">
        <div class="hamburger-bun"></div>
        <div class="hamburger-bun"></div>
        <div class="hamburger-bun"></div>
      </div>
      <ul class="nav-dropdown">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </header>
    <main>