<% include ./partials/_header %>

<section class="about-page">
  <ul id="tabs">
      <li><a href="#" class="tab-text" name="tab1">Our Team</a></li>
      <li><a href="#" class="tab-text" name="tab-about">Our History</a></li>
  </ul>

  <div id="tabbed-content">
      <div id="tab1">
        <section class="employee-profile">
          <h1 class="about-name">Erwin Coles</h1>
          <h2 class="about-title">Owner &amp; Operator</h2>
          <img src="http://kellyweaverphotography.com/wp-content/uploads/2014/01/Littleton-headshot-40.jpg">
          <p class="about-description">Caerphilly lancashire cheese strings. Babybel ricotta bocconcini melted cheese cheddar melted cheese bavarian bergkase the big cheese. Paneer monterey jack cheesy grin the big cheese cheesecake paneer cheese triangles paneer. Fromage frais macaroni cheese stilton pepper jack.</p>
        </section>
        <section class="employee-profile">
          <h1 class="about-name">Matt Coles</h1>
          <h2 class="about-title">Owner &amp; Operator</h2>
          <img src="http://kellyweaverphotography.com/wp-content/uploads/2014/01/Littleton-headshot-40.jpg">
          <p class="about-description">Caerphilly lancashire cheese strings. Babybel ricotta bocconcini melted cheese cheddar melted cheese bavarian bergkase the big cheese. Paneer monterey jack cheesy grin the big cheese cheesecake paneer cheese triangles paneer. Fromage frais macaroni cheese stilton pepper jack.</p>
        </section>
        <section class="employee-profile">
          <h1 class="about-name">Aram Bavandpour</h1>
          <h2 class="about-title">Owner &amp; Operator</h2>
          <img src="http://kellyweaverphotography.com/wp-content/uploads/2014/01/Littleton-headshot-40.jpg">
          <p class="about-description">Caerphilly lancashire cheese strings. Babybel ricotta bocconcini melted cheese cheddar melted cheese bavarian bergkase the big cheese. Paneer monterey jack cheesy grin the big cheese cheesecake paneer cheese triangles paneer. Fromage frais macaroni cheese stilton pepper jack.</p>
        </section>
      </div>

      <section id="tab-about">
        <img class="about-main-image" src="images/carpentry1.jpeg">
        <h1 class="about-title history-title">40 Years of Experience</h1>
        <p class="about-description history-description">Pecorino cheese and biscuits dolcelatte. Croque monsieur fromage smelly cheese stilton cauliflower cheese camembert de normandie cheese on toast say cheese. Cheddar cheese triangles everyone loves cream cheese roquefort halloumi cream cheese stinking bishop. Paneer everyone loves paneer.</p>
      </section>
  </div>
</section>

<% include ./partials/_footer %>