<% include ./partials/_header %>
<section class="about-page">
  <ul id="tabs" class="about-page-tabs">
      <li><a href="#" class="tab-text" name="tab1">Our Team</a></li>
      <li><a href="#" class="tab-text" name="tab-about">Our History</a></li>
  </ul>
  <div id="tabbed-content">
      <div id="tab1">
        <section class="employee-profile">
          <h1 class="about-name">Erwin Coles</h1>
          <h2 class="about-title">Owner &amp; Operator</h2>
          <img src="http://kellyweaverphotography.com/wp-content/uploads/2014/01/Littleton-headshot-40.jpg">
          <p class="about-description">Erwin has over 40 years of experience working as a professional carpenter. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br> <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </section>
        <section class="employee-profile">
          <h1 class="about-name">Matt Coles</h1>
          <h2 class="about-title">Owner &amp; Operator</h2>
          <img src="http://kellyweaverphotography.com/wp-content/uploads/2014/01/Littleton-headshot-40.jpg">
          <p class="about-description">Matt started working in carpentry as a summer job as a teenager. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </section>
        <section class="employee-profile">
          <h1 class="about-name">Aram Bavandpour</h1>
          <h2 class="about-title">Owner &amp; Operator</h2>
          <img src="http://kellyweaverphotography.com/wp-content/uploads/2014/01/Littleton-headshot-40.jpg">
          <p class="about-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </section>
      </div>
      <section id="tab-about">
        <img class="about-main-image" src="images/carpentry1.jpeg">
        <h1 class="about-title history-title">40 Years of Experience</h1>
        <p class="about-description history-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <br>
         <p class="about-description history-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <br>
        <p class="about-description history-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </section>
  </div>
</section>
<% include ./partials/_cta %>
<% include ./partials/_footer %>