<% include ./partials/_header %>
<section class="about-page">
  <ul id="tabs" class="about-page-tabs">
      <li><a href="#" class="tab-text" name="tab1">Our Team</a></li>
      <li><a href="#" class="tab-text" name="tab-about">Our History</a></li>
  </ul>
  <div id="tabbed-content">
      <div id="tab1">
        <section class="employee-profile">
          <h1 class="about-name">Erwin Coles</h1>
          <h2 class="about-title">Owner &amp; Operator</h2>
          <div class="profile-content">
            <img src="images/placeholder.png">
            <div class="about-descriptions">
              <p class="about-description">Erwin has over 40 years of experience working as a professional carpenter. Beginning as a 15-year old apprentice to Ralph Younker in Charlottetown, he worked for several different contractors around the Island before moving to Calgary in 1981. While in Calgary he worked exlusively with siding with his brother-in-law Clyde MacEachern.</p>
              <p class="about-description">In 1988 Erwin returned to PEI and continued to work with different contractors before starting Master Exteriors in 2000.</p>
              <p class="about-description">Erwin now lives in Winsloe with his partner Anita, their dog Tillie, their mule Bella, and their two horses. </p>
            </div>
          </div>
        </section>
        <section class="employee-profile">
          <h1 class="about-name">Matt Coles</h1>
          <h2 class="about-title">Carpenter</h2>
          <div class="profile-content">
          <img src="images/placeholder.png">
            <div class="about-descriptions">
              <p class="about-description">Matt began his carpentry career as a teenager, working with his father as a summer job. Over the past 15+ years, he has worked with Erwin and other carpenters around PEI developing honing his skills and learning the ins and outs of the industry. Matt has diplomas in both HVAC and Child and Youth Care Worker from Holland Collage.</p>
              <p class="about-description">He lives in Charlottetown with his wife Laura, their son Carter, and their two Great Danes Charlie and Mabel. </p>
            </div>
          </div>
        </section>
      </div>
      <section id="tab-about">
        <img class="about-main-image" src="images/carpentry1.jpeg">
        <h1 class="about-title history-title">40+ Years of Experience</h1>
        <p class="about-description history-description">Master Exteriors was created in 2000 by Erwin Coles, after spending nearly 30 years developing his skills as a carpenter.</p>
        <p class="about-description history-description">In 2009 Erwin began developing a tool that he initially created while working in Calgary years before. The tool—since called the Coles Clip—allowed a carpenter to install fiber cement board siding alone, nearly cutting labour costs in half for a small business like Master Exteriors. The Coles Clip that was eventually sold in hardware stores across PEI, as well as a store in Calgary. While the Coles Clip is no longer in production, those interested in learning more can contact Erwin directly at <a href="tel:1-902-629-0603">(902) 629-0603</a>.</p>
        <p class="about-description history-description">Master Exteriors has grown over the years to include Erwin's son Matt, roofing specialist Aram Bavandpour, and other workers depending on seasonal workload. We have taken on projects from a single window installation all the way up to the full exteriors of large houses and commercial buildings, working all around Eastern and Central Prince Edward Island.</p>
      </section>
  </div>
</section>
<% include ./partials/_cta %>
<% include ./partials/_footer %>