<% include ./partials/_header %>
<section id="contact-us-section">
  <div class="contact-us-content">
    <div class="contact-us-form">
      <form action="http://formspree.io/josh@joshcoles.com" method="post">
      <h1>Contact Us</h1>
        <div>
          <label for="name">Name</label>
          <input type="text" id="name" name="Name" placeholder="John Smith" data-validation="required">
        </div>
        <div>
          <label for="email">Email</label>
          <input type="text" id="email" name="Email" placeholder="johnsmith@gmail.com" data-validation="email">
        </div>
        <div>
          <label for="phone">Phone</label>
          <input type="text" id="Phone" name="Phone" placeholder="(902) 867-5309" data-validation="required">
        </div>
        <div class="message-container">
          <label for="message">Message</label>
          <br>
          <textarea type="text" id="message" name="Message" placeholder="Hi, I'm interested in having some windows replaced..." data-validation="required"></textarea>
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>
    <div class="contact-us-instructions">
      <h1>Questions?</h1>
      <p>Send us an email via this form or give us a call at <a class="link" href="tel:+9026290603">(902) 629-0603</a>.</p>
    </div>
  </div>
</section>
<% include ./partials/_footer %>
