<% include ./partials/_header %>
<section id="contact-us-section">
  <div class="contact-us-content">
    <div class="contact-us-form">
      <form action="contact" method="post">
      <h1>Contact Us</h1>
        <div>
          <label for="name">Name</label>
          <input type="text" id="name" name="user_name" placeholder="John Smith">
        </div>
        <div>
          <label for="email">Email</label>
          <input type="text" id="email" name="user_email" placeholder="johnsmith@gmail.com">
        </div>
        <div>
          <label for="phone">Phone</label>
          <input type="text" id="Phone" name="user_phone" placeholder="(902) 867-5309">
        </div>
        <div>
          <label for="message">Message</label>
          <br>
          <textarea type="text" id="message" name="user_message" placeholder="Hi, I'm interested in having some windows replaced..."></textarea>
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>
    <div class="contact-us-instructions">
      <h1>Questions?</h1>
      <p>Send us an email via this form or give us a call at <a class="link" href="tel:+9026290603">(902) 629-0603</a>.</p>
    </div>
  </div>
</section>
<% include ./partials/_footer %>