<% include ./partials/_header %>
<div class="home-slider-overlay">
  <h1 class="home-slider-overlay-text">"I'm very happy with the work that Master Exteriors did replacing the siding on my house. I would definitely recommend them" - Fakey McFakerson.</h1>
</div>
<section class="first-section" id="home-slider">
  <div class="home-image-slider">
    <div><img class="slider-image" src="images/carpentry1.jpeg"></div>
    <div><img class="slider-image" src="images/carpentry2.jpeg"></div>
    <div><img class="slider-image" src="images/carpentry3.jpeg"></div>
    <div><img class="slider-image" src="images/carpentry4.jpeg"></div>
  </div>
</section>
<section id="home-experience">
  <div id="home-experience-content-container">
    <div class="home-text-container">
      <h1 class="home-tagline">Over 65 Years of Experience</h1>
      <hr>
      <p class="home-description">We're a small company with lots of experience. Owner and Operator Erwin Coles' career in carpentry spans over 40 years, and includes projects of all shapes and sizes. Include the rest of the team and we're worth a combined 65+ years of experience.</p>
    </div>
    <img class="home-main-image" src="images/carpentry1.jpeg">
  </div>
</section>
<section id="home-detail">
  <div id="home-detail-content-container">
    <div class="home-text-container">
      <h1 class="home-tagline">Proven Quality <br> &amp; Attention to Detail</h1>
      <hr>
      <p class="home-description">We've worked on hundreds of projects all around the Island, relying mostly on word of mouth and recommendations to get those jobs. The only way to make that work is by doing detail-oriented, quality work.</p>
    </div>
    <img class="home-main-image" src="images/carpentry2.jpeg">
  </div>
</section>
<section id="home-quality">
  <div id="home-quality-content-container">
    <div class="home-text-container">
      <h1 class="home-tagline">Customer Service First</h1>
      <hr>
      <p class="home-description">When you choose Master Exteriors, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <img class="home-main-image" src="images/carpentry3.jpeg">
  </div>
</section>
<% include ./partials/_footer %>