<% include ./partials/_header %>
<div class="home-slider-overlay">
  <h3 class="home-slider-overlay-text">"I'm proud of every single project I've worked on." <br> - Erwin Coles, Owner &amp; Operator.</h1>
</div>
<section class="first-section" id="home-slider">
  <div class="home-image-slider">
    <div><img class="slider-image" src="images/carpentry1.jpeg"></div>
    <div><img class="slider-image" src="images/carpentry2.jpeg"></div>
    <div><img class="slider-image" src="images/carpentry3.jpeg"></div>
    <div><img class="slider-image" src="images/carpentry4.jpeg"></div>
  </div>
</section>
<section class="home-experience">
  <div class="home-quality-content-container">
    <div class="home-text-container">
      <h2 class="home-tagline">Specialists in Healthy Homes</h2>
      <hr>
      <p class="home-description">We do quality work that leaves your home healthier than it was when we started. We take extra consideration to account for ventilation, moisture control and weather proofing, making sure that your home can breath right while keeping moisture out.</p>
    </div>
    <img class="home-main-image" src="images/carpentry3.jpeg">
  </div>
</section>
<section class="home-detail">
  <div class="home-detail-content-container">
    <div class="home-text-container">
      <h2 class="home-tagline">Proven Quality <br> &amp; Attention to Detail</h2>
      <hr>
      <p class="home-description">We've worked on hundreds of projects all around Prince Edward Island, relying mostly on word of mouth and recommendations to get those jobs. The only way to make that work is by doing detail-oriented, quality work.</p>
    </div>
    <img class="home-main-image" src="images/carpentry2.jpeg">
  </div>
</section>
<section class="home-quality">
  <div class="home-experience-content-container">
    <div class="home-text-container">
      <h2 class="home-tagline">Over 65 Years of Experience</h2>
      <hr>
      <p class="home-description">We're a small company with lots of experience. Owner and Operator Erwin Coles' career in carpentry spans over 40 years, and includes projects of all shapes and sizes. Include the rest of the team and we're worth a combined 65+ years of experience.</p>
    </div>
    <img class="home-main-image" src="images/carpentry1.jpeg">
  </div>
</section>
<% include ./partials/_cta %>
<% include ./partials/_footer %>