<% include ./partials/_header %>

<div class="home-slider-overlay">
  <h1 class="home-slider-overlay-text">"Master Exteriors is one of the best companies in the world. I would recommend them to anyone."</h1>
</div>
<section class="first-section" id="home-slider">
  <div class="home-image-slider">
    <div><img class="slider-image" src="images/carpentry1.jpeg"></div>
    <div><img class="slider-image" src="images/carpentry2.jpeg"></div>
    <div><img class="slider-image" src="images/carpentry3.jpeg"></div>
    <div><img class="slider-image" src="images/carpentry4.jpeg"></div>
  </div>
</section>

<section id="home-experience">
  <div class="home-text-container">
    <h1 class="home-tagline">40 Years of Experience</h1>
    <hr>
    <p class="home-description">Port-salut cheese strings say cheese. Mozzarella halloumi cheese triangles cottage cheese melted cheese paneer emmental cheesecake.</p>
  </div>
  <img class="home-main-image" src="images/carpentry1.jpeg">
</section>

<section id="home-detail">
  <div class="home-text-container">
    <h1 class="home-tagline">Attention to Detail</h1>
    <hr>
    <p class="home-description">Say cheese fromage frais cheese and biscuits. Say cheese cheese and biscuits cheesy feet lancashire fromage red leicester smelly cheese cheeseburger.</p>
  </div>
  <img class="home-main-image" src="images/carpentry2.jpeg">
</section>

<section id="home-quality">
  <div class="home-text-container">
    <h1 class="home-tagline">Proven Quality</h1>
    <hr>
    <p class="home-description">Squirty cheese stilton brie. When the cheese comes out everybody's happy manchego cheeseburger cut the cheese hard cheese cheeseburger macaroni cheese melted cheese. Cheesy feet when the cheese comes out everybody's happy cottage cheese cut the cheese say cheese parmesan cheddar cheesy grin.</p>
  </div>
  <img class="home-main-image" src="images/carpentry3.jpeg">
</section>

<% include ./partials/_footer %>