<% include ./partials/_header %>
<section class="services-tabs-section">
  <ul id="tabs">
      <li><a href="#" class="tab-text" name="tab1">Siding</a></li>
      <li><a href="#" class="tab-text" name="tab2">Roofing</a></li>
      <li><a href="#" class="tab-text" name="tab3">Interiors</a></li>
      <li><a href="#" class="tab-text" name="tab4">Everything Else</a></li>
  </ul>
</section>
<section class="services-section">
  <div id="tabbed-content">
      <div id="tab1">
        <div class="image-with-overlay">
          <img class="services-main-image" src="images/carpentry2.jpeg">
        </div>
        <h1 class="services-title">Siding</h1>
        <h2 class="services-tagline"></h2>
        <p class="services-description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p class="services-description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <div class="services-other-div">
          <h2 class="services-other">Other roofing services: </h2>
          <ul class="services-list">
            <li>Roofs</li>
            <li>Gutters</li>
            <li>Chimneys</li>
          </ul>
        </div>
      </div>
      <div id="tab2">
        <div class="image-with-overlay">
          <img class="services-main-image" src="images/carpentry3.jpeg">
        </div>
        <h1 class="services-title">Siding</h1>
        <h2 class="services-tagline">A tagline for siding, sides, and siders.</h2>
        <p class="services-description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p class="services-description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <div class="services-other-div">
          <h2 class="services-other">Other Siding things:</h2>
          <ul class="services-list">
            <li>Hardi Plank</li>
            <li>Wood Shingles</li>
            <li>Vinyl Siding</li>
          </ul>
        </div>
      </div>
      <div id="tab3">
        <div class="image-with-overlay">
          <img class="services-main-image" src="images/carpentry4.jpeg">
        </div>
        <h1 class="services-title">Decks</h1>
        <h2 class="services-tagline">A tagline for decks.</h2>
        <p class="services-description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <div class="services-other-div">
          <h2 class="services-other">Other deck things:</h2>
          <ul class="services-list">
            <li>Decks</li>
            <li>Wood</li>
            <li>Standing</li>
          </ul>
        </div>
      </div>
      <div id="tab4">
        <div class="image-with-overlay">
          <img class="services-main-image" src="images/carpentry1.jpeg">
        </div>
        <h1 class="services-title">Other</h1>
        <h2 class="services-tagline">A tagline for other, windows, and windows.</h2>
        <p class="services-description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p class="services-description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p class="services-description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <div class="services-other-div">
          <h2 class="services-other">Other 'other' things:</h2>
          <ul class="services-list">
            <li>Sticks</li>
            <li>Paint</li>
            <li>Chimneys</li>
          </ul>
        </div>
      </div>
  </div>
</section>
<% include ./partials/_footer %>