<% include ./partials/_header %>
<section class="services-tabs-section">
  <ul id="tabs">
      <li><a href="#" class="tab-text" name="tab1">Siding</a></li>
      <li><a href="#" class="tab-text" name="tab2">Roofing</a></li>
      <li><a href="#" class="tab-text" name="tab3">Windows &amp; Doors</a></li>
      <li><a href="#" class="tab-text" name="tab4">Healthy Homes</a></li>
  </ul>
</section>
<section class="services-section">
  <div id="tabbed-content">
      <div id="tab1">
        <div class="image-with-overlay">
          <img class="services-main-image" src="images/carpentry2.jpeg">
        </div>
        <h1 class="services-title">Siding</h1>
        <h2 class="services-tagline">What we do best.</h2>
        <p class="services-description">Of all the services we offer, we take on more siding jobs than anything else.</p>
        <p class="services-description">Owner &amp; operator Erwin Coles has spent decades perfecting the craft, and has gone as far as to invent new tools for installing fiber cement board siding alone.</p>
        <div class="services-other-div">
          <h2 class="services-other">Siding materials we work with:</h2>
          <ul class="services-list">
            <li>Fiber Cement</li>
            <li>Vinyl</li>
            <li>Cedar Shingles</li>
          </ul>
        </div>
      </div>
      <div id="tab2">
        <div class="image-with-overlay">
          <img class="services-main-image" src="images/carpentry3.jpeg">
        </div>
        <h1 class="services-title">Roofing</h1>
        <h2 class="services-tagline">Quality from the top down.</h2>
        <p class="services-description">Though most of our roofing work is done with asphalt shingles, we are proud to also work with steel roofing and wooden shingles.</p>
        <div class="services-other-div">
          <h2 class="services-other">Roofing materials we work with:</h2>
          <ul class="services-list">
            <li>Asphalt</li>
            <li>Wood Shingles</li>
            <li>Steel</li>
          </ul>
        </div>
      </div>
      <div id="tab3">
        <div class="image-with-overlay">
          <img class="services-main-image" src="images/carpentry4.jpeg">
        </div>
        <h1 class="services-title">Windows &amp; Doors</h1>
        <h2 class="services-tagline">Energy savings first.</h2>
        <p class="services-description">In a harsh environment like PEI, quality windows and doors play an integral role in keeping your home healthy and saving you money on your heating bill.</p>
        <div class="services-other-div">
          <h2 class="services-other">Window &amp; Door services we offer:</h2>
          <ul class="services-list">
            <li>Custom aluminum claddings</li>
            <li>Window Installation</li>
            <li>Door Installation</li>
          </ul>
        </div>
      </div>
      <div id="tab4">
        <div class="image-with-overlay">
          <img class="services-main-image" src="images/carpentry1.jpeg">
        </div>
        <h1 class="services-title">Healthy Homes</h1>
        <h2 class="services-tagline">The entire package.</h2>
        <p class="services-description">Everything we do works towards this: making your home as healthy as possible.</p>
        <p class="services-description">Give us a call to talk about what can be done to make your home healthier.</p>
        <div class="services-other-div">
          <h2 class="services-other">How we make your home healthy:</h2>
          <ul class="services-list">
            <li>Insulation</li>
            <li>Ventilation</li>
            <li>Moisture control</li>
            <li>Proper flashing and weatherproofing</li>
          </ul>
        </div>
      </div>
  </div>
</section>
<% include ./partials/_cta %>
<% include ./partials/_footer %>