<% include ./partials/_header %>

<section class="first-section" id="services-slider">
  <div class="services-image-slider">
    <div><img class="slider-image" src="images/carpentry1.jpeg"></div>
    <div><img class="slider-image" src="images/carpentry2.jpeg"></div>
    <div><img class="slider-image" src="images/carpentry3.jpeg"></div>
    <div><img class="slider-image" src="images/carpentry4.jpeg"></div>
  </div>
</section>
<section class="services-tabs-section">
  <ul id="tabs">
      <li><a href="#" class="tab-text" name="tab1">Roofing</a></li>
      <li><a href="#" class="tab-text" name="tab2">Siding</a></li>
      <li><a href="#" class="tab-text" name="tab3">Decks</a></li>
      <li><a href="#" class="tab-text" name="tab4">Other</a></li>
  </ul>
</section>
<section class="services-section">
  <div id="tabbed-content">
      <div id="tab1">
        <div class="image-with-overlay">
          <img class="services-main-image" src="images/carpentry2.jpeg">
        </div>
        <h1 class="services-title">Roofing</h1>
        <h2 class="services-tagline">A tagline for roofing, quality and roofs.</h2>
        <p class="services-description">Cauliflower cheese fromage frais caerphilly. Emmental halloumi mozzarella stinking bishop babybel cauliflower cheese bocconcini dolcelatte.</p>
        <p class="services-description"> Cottage cheese caerphilly ricotta mozzarella smelly cheese the big cheese who moved my cheese pepper jack. Squirty cheese mascarpone gouda.</p>
        <div class="services-other-div">
          <h2 class="services-other">Other roof things:</h2>
          <ul class="services-list">
            <li>Roofs</li>
            <li>Gutters</li>
            <li>Chimneys</li>
          </ul>
        </div>
      </div>
      <div id="tab2">
        <div class="image-with-overlay">
          <img class="services-main-image" src="images/carpentry3.jpeg">
        </div>
        <h1 class="services-title">Roofing</h1>
        <h2 class="services-tagline">A tagline for roofing, quality and roofs.</h2>
        <p class="services-description">Cauliflower cheese fromage frais caerphilly. Emmental halloumi mozzarella stinking bishop babybel cauliflower cheese bocconcini dolcelatte.</p>
        <p class="services-description"> Cottage cheese caerphilly ricotta mozzarella smelly cheese the big cheese who moved my cheese pepper jack. Squirty cheese mascarpone gouda.</p>
        <h2 class="services-other">Other roof things:</h2>
        <ul class="services-list">
          <li>Roofs</li>
          <li>Gutters</li>
          <li>Chimneys</li>
        </ul>
      </div>
      <div id="tab3">
        <div class="image-with-overlay">
          <img class="services-main-image" src="images/carpentry4.jpeg">
        </div>
        <h1 class="services-title">Roofing</h1>
        <h2 class="services-tagline">A tagline for roofing, quality and roofs.</h2>
        <p class="services-description">Cauliflower cheese fromage frais caerphilly. Emmental halloumi mozzarella stinking bishop babybel cauliflower cheese bocconcini dolcelatte.</p>
        <p class="services-description"> Cottage cheese caerphilly ricotta mozzarella smelly cheese the big cheese who moved my cheese pepper jack. Squirty cheese mascarpone gouda.</p>
        <h2 class="services-other">Other roof things:</h2>
        <ul class="services-list">
          <li>Roofs</li>
          <li>Gutters</li>
          <li>Chimneys</li>
        </ul>
      </div>
      <div id="tab4">
        <div class="image-with-overlay">
          <img class="services-main-image" src="images/carpentry1.jpeg">
        </div>
        <h1 class="services-title">Roofing</h1>
        <h2 class="services-tagline">A tagline for roofing, quality and roofs.</h2>
        <p class="services-description">Cauliflower cheese fromage frais caerphilly. Emmental halloumi mozzarella stinking bishop babybel cauliflower cheese bocconcini dolcelatte.</p>
        <p class="services-description"> Cottage cheese caerphilly ricotta mozzarella smelly cheese the big cheese who moved my cheese pepper jack. Squirty cheese mascarpone gouda.</p>
        <h2 class="services-other">Other roof things:</h2>
        <ul class="services-list">
          <li>Roofs</li>
          <li>Gutters</li>
          <li>Chimneys</li>
        </ul>
      </div>
  </div>
</section>

<% include ./partials/_footer %>