<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/_head %>
  </head>
  <body>
    <% include ./partials/_nav %>
    <main>
      <!-- all content in here -->
    </main>
    <% include ./partials/_footer %>
  </body>
</html>