/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

.desktop-nav-links {
  display: none; }
  @media (min-width: 1024px) {
    .desktop-nav-links {
      display: flex; } }

.desktop-nav-links ul {
  display: none; }
  @media (min-width: 1024px) {
    .desktop-nav-links ul {
      align-items: center;
      display: flex;
      justify-content: space-around;
      padding: 5px 0 0 30px; } }

@media (min-width: 1024px) {
  .desktop-nav-links ul li {
    list-style: none;
    margin: 0 10px;
    padding: 10px 20px;
    transition: box-shadow 0.5s; }
    .desktop-nav-links ul li:hover {
      box-shadow: inset 0 0 0 25px #EE8F00;
      transition: box-shadow 0.5s; }
      .desktop-nav-links ul li:hover #mobile-header a {
        color: black; } }

.hamburger-bun {
  background: #EE8F00;
  height: 3px;
  margin: 6px 0;
  width: 24px; }
  @media (min-width: 768px) {
    .hamburger-bun {
      height: 5px;
      margin: 8px;
      width: 35px; } }

#mobile-header {
  display: flex;
  background: #303030;
  height: 80px;
  left: 0;
  right: 0;
  top: 0; }
  @media (min-width: 768px) {
    #mobile-header {
      height: 100px; } }

#mobile-header a {
  text-decoration: none;
  color: #FFFFFF; }
  @media (min-width: 1024px) {
    #mobile-header a {
      font-family: "Arvo", serif;
      font-size: 20px; } }

#mobile-header h1 {
  color: #EE8F00;
  font-family: "Arvo", serif;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 0.08em;
  line-height: 80px;
  padding: 0 0 0 15px; }
  @media (min-width: 768px) {
    #mobile-header h1 {
      line-height: 100px;
      padding: 0 0 0 40px; } }

#mobile-header .logo a {
  color: #EE8F00;
  font-family: "Arvo", serif; }
  @media (min-width: 768px) {
    #mobile-header .logo a {
      font-size: 30px; } }

.nav-button {
  color: white;
  cursor: pointer;
  display: block;
  line-height: 80px;
  margin: 20px -10px 20px 0;
  padding: 5px 0 5px 5px;
  position: absolute;
  right: 25px; }
  @media (min-width: 768px) {
    .nav-button {
      line-height: 100px;
      margin: 22px 15px 22px 0; } }
  @media (min-width: 1024px) {
    .nav-button {
      display: none; } }

.nav-dropdown {
  background: #303030;
  display: block;
  float: none;
  height: 50px;
  left: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1; }

.nav-dropdown li {
  display: none;
  font-family: Helvetica;
  width: 100%; }

.nav-dropdown li a {
  color: white;
  display: block;
  font-family: "Arvo", serif;
  font-size: 20px;
  padding: 12px 5%;
  text-decoration: none;
  width: 90%; }
  @media (min-width: 768px) {
    .nav-dropdown li a {
      font-size: 26px;
      padding: 16px 5%; } }

.nav-dropdown li a:hover {
  background: #EE8F00; }

.nav-dropdown.open {
  height: auto;
  margin-top: 80px;
  z-index: 1000; }

.nav-dropdown.open li {
  display: block; }

.nav-dropdown.open li a {
  text-align: right; }

footer {
  background: #303030;
  bottom: 0;
  display: flex;
  justify-content: flex-start;
  left: 0;
  right: 0;
  padding: 40px 20px 40px 40px; }
  footer p, footer a {
    color: #FFFFFF;
    font-size: 14px;
    text-align: left;
    text-decoration: none; }
    @media (min-width: 768px) {
      footer p, footer a {
        font-size: 20px;
        line-height: 26px; } }
    @media (min-width: 1024px) {
      footer p, footer a {
        font-size: 16px;
        line-height: 24px; } }

.contact-info {
  color: #000000;
  font-family: "Roboto", sans-Serif;
  font-style: normal;
  line-height: 18px; }

#home-experience {
  background: #FFFFFF; }
  @media (min-width: 1024px) {
    #home-experience {
      display: flex;
      justify-content: space-between; }
      #home-experience .home-text-container {
        padding: 20px;
        width: 60%; }
      #home-experience img {
        width: 38%; } }

.home-description {
  color: #303030;
  font-size: 16px;
  font-family: "Roboto", sans-Serif;
  line-height: 18px;
  padding: 0 0 20px 0;
  text-align: center; }
  @media (min-width: 768px) {
    .home-description {
      font-size: 18px;
      line-height: 22px; } }

#home-detail {
  background: #636363; }
  #home-detail * {
    color: white; }
  @media (min-width: 1024px) {
    #home-detail {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between; }
      #home-detail .home-text-container {
        padding: 20px;
        width: 60%; }
      #home-detail img {
        width: 38%; } }

#home-quality {
  background: #FFFFFF; }
  @media (min-width: 1024px) {
    #home-quality {
      display: flex;
      justify-content: space-between; }
      #home-quality .home-text-container {
        padding: 20px;
        width: 60%; }
      #home-quality img {
        width: 38%; } }

.home-main-image {
  height: 200px;
  object-fit: cover;
  width: 100%; }
  @media (min-width: 768px) {
    .home-main-image {
      height: 300px; } }

.home-tagline {
  font-family: "Arvo", serif;
  font-size: 26px;
  padding: 0 0 15px 0;
  text-align: center; }
  @media (min-width: 768px) {
    .home-tagline {
      font-size: 34px; } }
  @media (min-width: 1024px) {
    .home-tagline {
      font-size: 42px; } }

#home-slider {
  height: 200px; }
  @media (min-width: 768px) {
    #home-slider {
      height: 300px; } }
  @media (min-width: 1024px) {
    #home-slider {
      height: 400px; } }

.home-slider-overlay {
  display: none; }
  @media (min-width: 768px) {
    .home-slider-overlay {
      background: rgba(238, 143, 0, 0.8);
      display: block;
      height: auto;
      padding: 20px;
      position: absolute;
      right: 0;
      top: 250px;
      width: 200px;
      z-index: 5; } }
  @media (min-width: 1024px) {
    .home-slider-overlay {
      top: 300px;
      width: 250px; } }

@media (min-width: 768px) {
  .home-slider-overlay-text {
    color: white;
    font-family: "Roboto", sans-Serif;
    font-size: 14px;
    letter-spacing: 1.04px;
    line-height: 20px;
    opacity: 1; } }
@media (min-width: 1024px) {
  .home-slider-overlay-text {
    font-size: 16px; } }

.slick-dots li button:before {
  font-size: 12px !important;
  color: white !important; }
  @media (min-width: 1024px) {
    .slick-dots li button:before {
      font-size: 16px !important; } }

.slick-dots li.slick-active button:before {
  font-size: 12px !important;
  color: white !important; }
  @media (min-width: 1024px) {
    .slick-dots li.slick-active button:before {
      font-size: 16px !important; } }

.slider-image {
  width: 100%;
  height: 200px;
  object-fit: cover; }
  @media (min-width: 768px) {
    .slider-image {
      height: 300px; } }
  @media (min-width: 1024px) {
    .slider-image {
      height: 400px; } }

ul.slick-dots {
  margin-bottom: 40px; }

.about-name {
  color: #EE8F00;
  font-family: "Arvo", serif;
  font-size: 24px;
  letter-spacing: 0.1rem;
  margin: 10px 0 0 0; }
  @media (min-width: 768px) {
    .about-name {
      font-size: 40px; } }

.about-description {
  font-family: "Roboto", sans-Serif;
  font-size: 14px;
  line-height: 18px; }
  @media (min-width: 768px) {
    .about-description {
      font-size: 20px;
      line-height: 26px;
      position: absolute;
      right: 30px;
      top: 135px;
      width: 45%; } }
  @media (min-width: 1024px) {
    .about-description {
      width: 60%; } }

@media (min-width: 768px) {
  .about-description.history-description {
    position: relative;
    right: 0;
    top: 0;
    width: 100%; } }

.about-main-image {
  height: 200px;
  object-fit: cover;
  overflow: hidden;
  width: 100%; }
  @media (min-width: 768px) {
    .about-main-image {
      height: 300px; } }

#tabs.about-page-tabs {
  justify-content: space-around;
  margin-top: -20px;
  padding-bottom: 10px; }
  @media (min-width: 768px) {
    #tabs.about-page-tabs {
      margin-top: -30px; } }
  @media (min-width: 1024px) {
    #tabs.about-page-tabs {
      justify-content: space-between; } }

.about-title {
  font-family: "Arvo", serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 100;
  margin: 5px 0 20px 0; }
  @media (min-width: 768px) {
    .about-title {
      font-size: 24px; } }

.about-title.history-title {
  color: orange;
  font-size: 20px;
  margin: 10px 0; }
  @media (min-width: 768px) {
    .about-title.history-title {
      font-size: 28px;
      margin: 20px 0; } }

#content {
  background: #fff;
  border-radius: 0 5px 5px 5px;
  box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, 0.5);
  height: 220px;
  padding: 2em;
  position: relative;
  z-index: 2; }

.employee-profile img {
  height: 200px;
  margin-bottom: 20px;
  object-fit: cover;
  width: 100%; }
  @media (min-width: 768px) {
    .employee-profile img {
      height: 300px;
      width: 45%; } }
  @media (min-width: 1024px) {
    .employee-profile img {
      height: 250px;
      width: 30%; } }

section.about-page {
  background: #FFFFFF;
  padding-top: 20px; }

section.employee-profile {
  background: #303030;
  color: #FFFFFF;
  margin-bottom: 20px;
  padding-top: 10px; }
  @media (min-width: 768px) {
    section.employee-profile {
      position: relative; } }

@media (min-width: 768px) {
  section#tab-about {
    position: relative; } }

.services-description {
  font-family: "Roboto", sans-Serif;
  font-size: 14px;
  line-height: 18px;
  margin: 10px 0; }
  @media (min-width: 768px) {
    .services-description {
      font-size: 16px;
      line-height: 20px; } }

.services-list {
  color: white;
  font-family: "Arvo", serif;
  letter-spacing: 0.1rem;
  line-height: 22px;
  margin: 0 0 10px 25px; }
  @media (min-width: 768px) {
    .services-list {
      font-size: 20px;
      line-height: 24px; } }

.services-main-image {
  height: 200px;
  object-fit: cover;
  overflow: hidden;
  width: 100%; }
  @media (min-width: 768px) {
    .services-main-image {
      height: 300px; } }

.services-other {
  font-family: "Arvo", serif;
  font-size: 18px;
  font-weight: 100;
  margin: 10px 0 5px 0;
  padding-left: 5px; }
  @media (min-width: 768px) {
    .services-other {
      font-size: 24px; } }

.services-other-div {
  background: #EE8F00;
  margin-top: 20px;
  padding: 5px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777; }
  @media (min-width: 768px) {
    .services-other-div {
      padding: 10px; } }

.services-section {
  padding: 15px 15px 30px 15px; }
  @media (min-width: 768px) {
    .services-section {
      margin-top: -30px;
      padding: 40px 30px; } }
  @media (min-width: 1024px) {
    .services-section {
      padding: 40px 50px; } }

.services-tagline {
  font-family: "Arvo", serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 18px;
  margin: 10px 0 10px 0; }
  @media (min-width: 768px) {
    .services-tagline {
      font-size: 22px;
      margin: 10px 0 10px 0; } }
  @media (min-width: 1024px) {
    .services-tagline {
      margin: 10px 0 30px 0; } }

.services-title {
  font-family: "Arvo", serif;
  font-size: 24px;
  margin: 10px 0 5px 0; }
  @media (min-width: 768px) {
    .services-title {
      font-size: 36px;
      margin: 10px 0 20px 0; } }

.services-tabs-section {
  margin: 0;
  padding: 0 10px; }
  .services-tabs-section ul#tabs li {
    margin: 5px 0;
    width: 140px; }
    @media (min-width: 768px) {
      .services-tabs-section ul#tabs li {
        width: 315px; } }
  @media (min-width: 768px) and (min-width: 1024px) {
    .services-tabs-section ul#tabs li {
      width: 200px; } }

    .services-tabs-section ul#tabs li a {
      width: 140px; }
      @media (min-width: 768px) {
        .services-tabs-section ul#tabs li a {
          width: 315px; } }
      @media (min-width: 1024px) {
        .services-tabs-section ul#tabs li a {
          width: 200px; } }
  @media (min-width: 768px) {
    .services-tabs-section #tabs {
      margin: 30px auto 0px auto;
      padding: 0; } }
  @media (min-width: 768px) {
    .services-tabs-section {
      margin-top: -30px;
      padding: 10px 10; } }

#tabs {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
  overflow: hidden;
  padding: 10px 0 0 0;
  width: 100%; }
  @media (min-width: 768px) {
    #tabs {
      margin: 30px auto 10px auto;
      padding: 25px 10px 10px 10px;
      width: 90%; } }
  @media (min-width: 1024px) {
    #tabs {
      justify-content: space-between; } }

#tabs li {
  width: 125px; }
  @media (min-width: 768px) {
    #tabs li {
      width: 300px; } }
  @media (min-width: 1024px) {
    #tabs li {
      width: 400px; }
      #tabs li:hover a {
        background: #262626; } }

#tabs a {
  background: #303030;
  border-radius: 3px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  color: #FFFFFF;
  float: left;
  padding: 1em 0;
  position: relative;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  width: 125px; }
  @media (min-width: 768px) {
    #tabs a {
      padding: 1em 0;
      margin-top: 10px;
      margin-bottom: 5px;
      width: 300px; } }
  @media (min-width: 1024px) {
    #tabs a {
      width: 400px; }
      #tabs a:hover {
        background: #262626; } }

#tabs a:hover,
#tabs a:focus {
  background: #303030; }

#tabs a:focus {
  outline: 0; }

#tabs #current a {
  background: #636363; }
  #tabs #current a:hover {
    background: #575757; }

.tab-text {
  font-family: "Arvo", serif;
  font-size: 16px; }
  @media (min-width: 768px) {
    .tab-text {
      font-size: 22px; } }
  @media (min-width: 1024px) {
    .tab-text:hover {
      background: red; } }

#tab-about {
  background: #303030;
  color: #FFFFFF; }

@media (min-width: 1024px) {
  section#contact-us-section {
    display: flex;
    flex-direction: row-reverse; } }

.contact-us {
  background: #EE8F00;
  color: white;
  padding: 10px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777; }
  .contact-us ::-webkit-input-placeholder {
    color: #636363;
    opacity: 0.4; }
  .contact-us :-moz-placeholder {
    color: #636363;
    opacity: 0.4; }
  .contact-us ::-moz-placeholder {
    color: #636363;
    opacity: 0.4; }
  .contact-us :-ms-input-placeholder {
    color: #636363;
    opacity: 0.4; }
  @media (min-width: 768px) {
    .contact-us {
      padding: 20px; } }
  @media (min-width: 1024px) {
    .contact-us {
      right: 0;
      width: 60%; } }
  .contact-us button {
    background: #303030;
    border: none;
    color: white;
    cursor: pointer;
    font-family: "Arvo", serif;
    font-size: 14px;
    margin: 15px 0 10px 0;
    padding: 10px;
    width: 100%; }
    @media (min-width: 768px) {
      .contact-us button {
        font-size: 20px;
        padding: 15px; } }
    @media (min-width: 1024px) {
      .contact-us button {
        width: 20%; }
        .contact-us button:hover {
          background: #262626; } }
  .contact-us h1 {
    font-family: "Arvo", serif;
    font-size: 24px;
    margin-bottom: 10px; }
    @media (min-width: 768px) {
      .contact-us h1 {
        font-size: 30px; } }
  .contact-us input {
    font-size: 16px;
    margin: 5px 0 20px 0;
    width: 99%; }
  .contact-us label {
    font-family: "Arvo", serif;
    margin: 10px 0;
    width: 100%; }
    @media (min-width: 768px) {
      .contact-us label {
        font-size: 20px; } }
  .contact-us textarea {
    font-size: 16px;
    height: 100px;
    margin-top: 5px;
    width: 99%; }
    @media (min-width: 768px) {
      .contact-us textarea {
        height: 120px; } }

.contact-us-instructions h1 {
  font-size: 20px;
  margin-top: 20px; }
  @media (min-width: 1024px) {
    .contact-us-instructions h1 {
      font-size: 30px; } }
.contact-us-instructions p {
  font-size: 14px;
  font-family: "Roboto", sans-Serif;
  margin: 10px 0 0 0;
  text-align: left; }
  @media (min-width: 1024px) {
    .contact-us-instructions p {
      font-size: 16px; } }
@media (min-width: 1024px) {
  .contact-us-instructions {
    padding: 0 10px 0 0;
    width: 35%; } }

body, html {
  background: #303030;
  height: 100%;
  margin: 0;
  padding: 0; }

section {
  background: white;
  padding: 30px 15px; }
  @media (min-width: 768px) {
    section {
      padding: 40px 30px; } }
  @media (min-width: 1024px) {
    section {
      padding: 50px 50px; } }

hr {
  margin: 0 0 20px 0; }
  @media (min-width: 768px) {
    hr {
      margin: 0 0 40px 0; } }

.first-section {
  padding: 0; }

h1, h2, h3, h4, h5, h6, p, a {
  font-family: "Roboto", sans-Serif; }

/*# sourceMappingURL=style.css.map */
