/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

.desktop-nav-links {
  display: none; }
  @media (min-width: 1024px) {
    .desktop-nav-links {
      display: flex; } }
  .desktop-nav-links ul {
    display: none; }
    @media (min-width: 1024px) {
      .desktop-nav-links ul {
        align-items: center;
        display: flex;
        justify-content: space-around;
        padding: 5px 0 0 30px; } }
  @media (min-width: 1024px) {
    .desktop-nav-links li {
      list-style: none;
      margin: 0 10px;
      padding: 10px 0;
      margin: 0 20px;
      position: relative;
      text-decoration: none; }
      .desktop-nav-links li:before {
        content: "";
        bottom: -3px;
        position: absolute;
        width: 100%;
        height: 4px;
        left: 0;
        background-color: #fff;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s; }
      .desktop-nav-links li:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1); } }

.hamburger-bun {
  background: #EE8F00;
  height: 3px;
  margin: 6px 0;
  width: 24px; }
  @media (min-width: 768px) {
    .hamburger-bun {
      height: 5px;
      margin: 8px;
      width: 35px; } }

header {
  display: flex;
  background: #303030;
  height: 80px;
  left: 0;
  right: 0;
  top: 0; }
  @media (min-width: 768px) {
    header {
      height: 100px; } }

header a {
  text-decoration: none;
  color: #fff; }
  @media (min-width: 1024px) {
    header a {
      font-family: "Arvo", Georgia, serif;
      font-size: 20px; } }

header h1 {
  color: #EE8F00;
  font-family: "Arvo", Georgia, serif;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 0.08em;
  line-height: 80px;
  padding: 0 0 0 15px; }
  @media (min-width: 768px) {
    header h1 {
      line-height: 100px;
      padding: 0 0 0 60px; } }

header .logo a {
  color: #EE8F00;
  font-family: "Arvo", Georgia, serif; }
  @media (min-width: 768px) {
    header .logo a {
      font-size: 30px; } }

.nav-button {
  color: white;
  cursor: pointer;
  display: block;
  line-height: 80px;
  margin: 20px -10px 20px 0;
  padding: 5px 0 5px 5px;
  position: absolute;
  right: 25px; }
  @media (min-width: 768px) {
    .nav-button {
      line-height: 100px;
      margin: 22px 35px 22px 0; } }
  @media (min-width: 1024px) {
    .nav-button {
      display: none; } }

.nav-dropdown {
  background: #303030;
  display: block;
  float: none;
  height: 50px;
  left: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1; }
  .nav-dropdown li {
    display: none;
    font-family: Helvetica;
    width: 100%; }
  .nav-dropdown a {
    color: white;
    display: block;
    font-family: "Arvo", Georgia, serif;
    font-size: 20px;
    padding: 12px 5%;
    text-decoration: none;
    width: 90%; }
    @media (min-width: 768px) {
      .nav-dropdown a {
        font-size: 26px;
        padding: 16px 5%; } }

.nav-dropdown
.nav-dropdown li a:hover {
  background: #EE8F00; }

.nav-dropdown.open {
  height: auto;
  margin-top: 80px;
  z-index: 1000; }

.nav-dropdown.open li {
  display: block; }

.nav-dropdown.open li a {
  text-align: right; }

.contact-info {
  font-family: "Roboto", Helvetica, sans-Serif;
  font-style: normal;
  line-height: 18px; }
  .contact-info a {
    position: relative; }
    .contact-info a:before {
      content: "";
      bottom: -3px;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      background-color: #EE8F00;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s; }
    .contact-info a:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1); }

footer {
  background: #303030;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  left: 0;
  right: 0;
  padding: 40px 15px 40px 15px; }
  @media (min-width: 768px) {
    footer {
      padding: 40px 60px 40px 60px; } }
  footer p {
    color: #fff;
    font-size: 14px;
    text-align: left;
    text-decoration: none; }
    @media (min-width: 768px) {
      footer p {
        font-size: 20px;
        line-height: 26px; } }
    @media (min-width: 1024px) {
      footer p {
        font-size: 16px;
        line-height: 24px; } }
  footer a {
    color: #EE8F00;
    text-decoration: none; }

@media (min-width: 1024px) {
  .footer-content {
    align-items: bottom;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1000px;
    width: 100%; } }

.site-build {
  color: #EE8F00;
  margin: 20px 0 0 0;
  right: 0; }
  .site-build a {
    color: #EE8F00;
    position: relative; }
    .site-build a:before {
      content: "";
      bottom: -3px;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      background-color: #EE8F00;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s; }
    .site-build a:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1); }

.home-description {
  color: #303030;
  font-family: "Roboto", Helvetica, sans-Serif;
  line-height: 18px;
  font-size: 16px;
  padding: 0 0 20px 0;
  text-align: center; }
  @media (min-width: 768px) {
    .home-description {
      font-size: 18px;
      line-height: 22px; } }

.home-detail {
  background: #636363; }
  .home-detail * {
    color: white; }
  @media (min-width: 1024px) {
    .home-detail {
      display: flex;
      justify-content: center; }
      .home-detail .home-text-container {
        padding: 20px;
        width: 70%; }
      .home-detail img {
        width: 38%; } }

@media (min-width: 1024px) {
  .home-detail-content-container {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    max-width: 1000px; } }

.home-experience {
  background-image: url("../images/tiny_grid.png");
  background-repeat: repeat; }
  @media (min-width: 1024px) {
    .home-experience {
      display: flex;
      justify-content: center; }
      .home-experience .home-text-container {
        padding: 20px;
        width: 60%; }
      .home-experience img {
        width: 38%; } }

@media (min-width: 1024px) {
  .home-experience-content-container {
    align-items: center;
    display: flex;
    max-width: 1000px; } }

.home-main-image {
  height: 200px;
  object-fit: cover;
  width: 100%; }
  @media (min-width: 768px) {
    .home-main-image {
      height: 300px; } }

#home-slider {
  height: 200px; }
  @media (min-width: 768px) {
    #home-slider {
      height: 300px; } }
  @media (min-width: 1024px) {
    #home-slider {
      height: 400px; } }

.home-slider-overlay {
  background: rgba(238, 143, 0, 0.8);
  display: block;
  height: auto;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 100px;
  width: 80px;
  z-index: 5; }
  @media (min-width: 768px) {
    .home-slider-overlay {
      padding: 20px;
      top: 200px;
      width: 200px; } }
  @media (min-width: 1024px) {
    .home-slider-overlay {
      top: 300px;
      width: 250px; } }

.home-slider-overlay-text {
  color: white;
  font-size: 8px;
  line-height: 10px; }
  @media (min-width: 768px) {
    .home-slider-overlay-text {
      font-family: "Roboto", Helvetica, sans-Serif;
      font-size: 14px;
      letter-spacing: 1.04px;
      line-height: 20px;
      opacity: 1; } }
  @media (min-width: 1024px) {
    .home-slider-overlay-text {
      font-size: 16px; } }

.home-tagline {
  font-family: "Arvo", Georgia, serif;
  font-size: 26px;
  padding: 0 0 15px 0;
  text-align: center; }
  @media (min-width: 768px) {
    .home-tagline {
      font-size: 34px; } }
  @media (min-width: 1024px) {
    .home-tagline {
      font-size: 42px; } }

.home-quality {
  background-image: url("../images/tiny_grid.png");
  background-repeat: repeat; }
  @media (min-width: 1024px) {
    .home-quality {
      display: flex;
      justify-content: center; }
      .home-quality .home-text-container {
        padding: 20px;
        width: 60%; }
      .home-quality img {
        width: 38%; } }

@media (min-width: 1024px) {
  .home-quality-content-container {
    align-items: center;
    display: flex;
    max-width: 1000px; } }

.slick-dots li button:before {
  font-size: 12px;
  color: white; }
  @media (min-width: 1024px) {
    .slick-dots li button:before {
      font-size: 16px; } }

.slick-dots li.slick-active button:before {
  font-size: 12px;
  color: white; }
  @media (min-width: 1024px) {
    .slick-dots li.slick-active button:before {
      font-size: 16px; } }

.slider-image {
  height: 200px;
  object-fit: cover;
  width: 100%; }
  @media (min-width: 768px) {
    .slider-image {
      height: 300px; } }
  @media (min-width: 1024px) {
    .slider-image {
      height: 400px; } }

ul.slick-dots {
  margin-bottom: 40px; }

.quote-callout {
  background-color: #EE8F00;
  height: 150px; }
  .quote-callout .callout-content {
    align-items: center;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center; }
  .quote-callout h2 {
    color: #fff;
    font-family: "Arvo", Georgia, serif;
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center; }
  .quote-callout a {
    color: #303030;
    font-family: "Arvo", Georgia, serif;
    font-size: 26px;
    text-decoration: none; }
    .quote-callout a:hover {
      color: #000; }
  .quote-callout i {
    font-family: FontAwesome;
    font-size: 26px;
    color: #303030;
    margin-right: 5px; }

.phone-link {
  position: relative;
  text-decoration: none; }
  .phone-link:before {
    content: "";
    bottom: -5px;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    background-color: #303030;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s; }
  .phone-link:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }

.about-description {
  font-family: "Roboto", Helvetica, sans-Serif;
  font-size: 14px;
  line-height: 18px; }
  @media (min-width: 768px) {
    .about-description {
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 20px;
      padding-right: 30px;
      width: 100%;
      padding-left: 30px; } }
  @media (min-width: 1024px) {
    .about-description {
      width: 100%; } }
  .about-description a {
    color: #EE8F00;
    position: relative;
    text-decoration: none; }
    .about-description a:before {
      content: "";
      bottom: -3px;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      background-color: #EE8F00;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s; }
    .about-description a:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1); }

.about-description.history-description {
  padding-left: 0px; }
  @media (min-width: 768px) {
    .about-description.history-description {
      position: relative;
      right: 0;
      top: 0;
      width: 100%; } }

.about-main-image {
  height: 200px;
  object-fit: cover;
  overflow: hidden;
  width: 100%; }
  @media (min-width: 768px) {
    .about-main-image {
      height: 300px; } }

.about-name {
  color: #EE8F00;
  font-family: "Arvo", Georgia, serif;
  font-size: 24px;
  letter-spacing: 0.1rem;
  margin: 10px 0 0 0; }
  @media (min-width: 768px) {
    .about-name {
      font-size: 40px; } }

.about-title {
  font-family: "Arvo", Georgia, serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 100;
  margin: 5px 0 20px 0; }
  @media (min-width: 768px) {
    .about-title {
      font-size: 24px; } }

#content {
  background: #fff;
  border-radius: 0 5px 5px 5px;
  box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, 0.5);
  height: 220px;
  padding: 2em;
  position: relative;
  z-index: 2; }

.employee-profile img {
  height: 200px;
  margin-bottom: 20px;
  object-fit: cover;
  width: 100%; }
  @media (min-width: 768px) {
    .employee-profile img {
      height: 300px;
      width: 45%; } }
  @media (min-width: 1024px) {
    .employee-profile img {
      width: 30%; } }

h1.about-title.history-title {
  color: orange;
  font-size: 20px;
  font-style: normal;
  margin: 10px 0; }
  @media (min-width: 768px) {
    h1.about-title.history-title {
      font-size: 28px;
      margin: 20px 0; } }

section.about-page {
  background-image: url("../images/tiny_grid.png");
  background-repeat: repeat;
  padding-top: 20px; }

section.employee-profile {
  background: #303030;
  color: #fff;
  margin-bottom: 20px;
  padding-top: 10px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777; }
  @media (min-width: 768px) {
    section.employee-profile {
      position: relative; } }
  @media (min-width: 1024px) {
    section.employee-profile {
      margin: 0 auto 30px auto;
      max-width: 900px;
      padding-top: 20px; } }
  section.employee-profile .profile-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    @media (min-width: 768px) {
      section.employee-profile .profile-content {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row; } }

section#tab-about {
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777; }
  @media (min-width: 768px) {
    section#tab-about {
      position: relative; } }
  @media (min-width: 1024px) {
    section#tab-about {
      margin: 0 auto;
      max-width: 900px; } }

#tabs.about-page-tabs {
  justify-content: space-around;
  margin-top: -20px;
  padding-bottom: 10px; }
  @media (min-width: 768px) {
    #tabs.about-page-tabs {
      margin-top: -30px; } }
  @media (min-width: 1024px) {
    #tabs.about-page-tabs {
      justify-content: space-between;
      max-width: 900px; } }

.services-description {
  font-family: "Roboto", Helvetica, sans-Serif;
  font-size: 14px;
  line-height: 18px;
  margin: 10px 0; }
  @media (min-width: 768px) {
    .services-description {
      font-size: 16px;
      line-height: 20px; } }

.services-list {
  color: white;
  font-family: "Arvo", Georgia, serif;
  letter-spacing: 0.1rem;
  line-height: 22px;
  margin: 0 0 10px 25px; }
  @media (min-width: 768px) {
    .services-list {
      font-size: 20px;
      line-height: 24px; } }

.services-main-image {
  height: 200px;
  object-fit: cover;
  overflow: hidden;
  width: 100%; }
  @media (min-width: 768px) {
    .services-main-image {
      height: 350px;
      margin: 0 0 20px 0; } }

.services-other {
  font-family: "Arvo", Georgia, serif;
  font-size: 18px;
  font-weight: 100;
  margin: 10px 0 5px 0;
  padding-left: 5px; }
  @media (min-width: 768px) {
    .services-other {
      font-size: 24px; } }

.services-other-div {
  background: #EE8F00;
  margin-top: 20px;
  padding: 5px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777; }
  @media (min-width: 768px) {
    .services-other-div {
      padding: 10px; } }

.services-section {
  background-image: url("../images/tiny_grid.png");
  background-repeat: repeat;
  padding: 15px 15px 30px 15px; }
  @media (min-width: 768px) {
    .services-section {
      margin-top: -33px;
      padding: 40px 60px; } }
  @media (min-width: 1024px) {
    .services-section {
      display: flex;
      justify-content: center;
      padding: 40px 50px; } }
  @media (min-width: 1024px) {
    .services-section #tabbed-content {
      max-width: 1000px; } }

.services-tagline {
  font-family: "Arvo", Georgia, serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 100;
  line-height: 18px;
  margin: 10px 0 10px 0; }
  @media (min-width: 768px) {
    .services-tagline {
      font-size: 22px;
      margin: 10px 0 10px 0; } }
  @media (min-width: 1024px) {
    .services-tagline {
      margin: 10px 0 20px 0; } }

.services-tabs-section {
  background-image: url("../images/tiny_grid.png");
  background-repeat: repeat;
  margin: 0;
  padding: 0 10px; }
  .services-tabs-section ul#tabs li {
    margin: 5px 0;
    width: 140px; }
    @media (min-width: 768px) {
      .services-tabs-section ul#tabs li {
        width: 315px; } }
  @media (min-width: 768px) and (min-width: 1024px) {
    .services-tabs-section ul#tabs li {
      width: 200px; } }

    .services-tabs-section ul#tabs li a {
      width: 140px; }
      @media (min-width: 768px) {
        .services-tabs-section ul#tabs li a {
          width: 315px; } }
      @media (min-width: 1024px) {
        .services-tabs-section ul#tabs li a {
          width: 200px; } }
  @media (min-width: 768px) {
    .services-tabs-section #tabs {
      margin: 30px auto 0px auto;
      padding: 0; } }
  @media (min-width: 1024px) {
    .services-tabs-section #tabs {
      max-width: 1000px; } }
  @media (min-width: 768px) {
    .services-tabs-section {
      margin-top: -30px;
      padding: 10px 10; } }

.services-title {
  font-family: "Arvo", Georgia, serif;
  font-size: 24px;
  margin: 10px 0 5px 0; }
  @media (min-width: 768px) {
    .services-title {
      font-size: 36px;
      margin: 10px 0 20px 0; } }

#tabs {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
  overflow: hidden;
  padding: 10px 0 0 0;
  width: 100%; }
  @media (min-width: 768px) {
    #tabs {
      margin: 30px auto 10px auto;
      padding: 25px 10px 10px 10px;
      width: 90%; } }
  @media (min-width: 1024px) {
    #tabs {
      justify-content: space-between; } }

#tabs li {
  width: 120px; }
  @media (min-width: 768px) {
    #tabs li {
      width: 250px; } }
  @media (min-width: 1024px) {
    #tabs li {
      width: 400px; }
      #tabs li:hover a {
        background: #262626; } }

#tabs a {
  background: #303030;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  color: #fff;
  float: left;
  padding: 1em 0;
  position: relative;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  width: 120px; }
  @media (min-width: 768px) {
    #tabs a {
      padding: 1em 0;
      margin-top: 10px;
      margin-bottom: 5px;
      width: 250px; } }
  @media (min-width: 1024px) {
    #tabs a {
      width: 400px; }
      #tabs a:hover {
        background: #262626; } }

#tabs a:hover,
#tabs a:focus {
  background: #303030; }

#tabs a:focus {
  outline: 0; }

#tabs #current a {
  background: #636363; }
  #tabs #current a:hover {
    background: #575757; }

.tab-text {
  font-family: "Arvo", Georgia, serif;
  font-size: 14px; }
  @media (min-width: 768px) {
    .tab-text {
      font-size: 20px; } }
  @media (min-width: 1024px) {
    .tab-text:hover {
      background: red; } }

#tab-about {
  background: #303030;
  color: #fff; }

.contact-us-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%; }
  @media (min-width: 1024px) {
    .contact-us-content {
      flex-direction: row-reverse; } }

#contact-us-section {
  background-image: url("../images/tiny_grid.png");
  background-repeat: repeat; }

.contact-us-form {
  background: #EE8F00;
  color: white;
  padding: 10px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777; }
  .contact-us-form ::-webkit-input-placeholder {
    color: #636363;
    opacity: 0.4; }
  .contact-us-form :-moz-placeholder {
    color: #636363;
    opacity: 0.4; }
  .contact-us-form ::-moz-placeholder {
    color: #636363;
    opacity: 0.4; }
  .contact-us-form :-ms-input-placeholder {
    color: #636363;
    opacity: 0.4; }
  @media (min-width: 768px) {
    .contact-us-form {
      padding: 20px; } }
  @media (min-width: 1024px) {
    .contact-us-form {
      right: 0;
      width: 60%; } }
  .contact-us-form button {
    background: #303030;
    border: none;
    color: white;
    cursor: pointer;
    font-family: "Arvo", Georgia, serif;
    font-size: 14px;
    margin: 15px 0 10px 0;
    padding: 10px;
    width: 100%; }
    @media (min-width: 768px) {
      .contact-us-form button {
        font-size: 20px;
        padding: 15px; } }
    @media (min-width: 1024px) {
      .contact-us-form button {
        width: 20%; }
        .contact-us-form button:hover {
          background: #262626; } }
  .contact-us-form h1 {
    font-family: "Arvo", Georgia, serif;
    font-size: 24px;
    margin-bottom: 10px; }
    @media (min-width: 768px) {
      .contact-us-form h1 {
        font-size: 30px; } }
  .contact-us-form input {
    border: none;
    font-size: 16px;
    margin: 5px 0 20px 0;
    padding: 3px;
    -webkit-appearance: none;
    width: 98%; }
  .contact-us-form input.error {
    border: none;
    border-color: none; }
  .contact-us-form label {
    font-family: "Arvo", Georgia, serif;
    margin: 10px 0;
    width: 100%; }
    @media (min-width: 768px) {
      .contact-us-form label {
        font-size: 20px; } }
  .contact-us-form span.form-error {
    color: black;
    font-family: "Arvo", Georgia, serif;
    position: relative;
    text-shadow: none;
    top: -10px; }
  .contact-us-form .message-container span.form-error {
    top: 5px; }
  .contact-us-form textarea {
    border: none;
    font-size: 16px;
    height: 100px;
    margin-top: 5px;
    padding: 3px;
    width: 98%; }
    @media (min-width: 768px) {
      .contact-us-form textarea {
        height: 120px; } }

@media (min-width: 1024px) {
  .contact-us-instructions {
    padding: 0 10px 0 0;
    width: 35%; } }
.contact-us-instructions h1 {
  font-size: 20px;
  margin-top: 20px; }
  @media (min-width: 1024px) {
    .contact-us-instructions h1 {
      font-size: 30px; } }
.contact-us-instructions p {
  font-size: 14px;
  font-family: "Roboto", Helvetica, sans-Serif;
  margin: 10px 0 0 0;
  text-align: left; }
  @media (min-width: 1024px) {
    .contact-us-instructions p {
      font-size: 20px;
      line-height: 1.2;
      padding-right: 20px; } }

#form-submitted {
  height: 40vh;
  text-align: center; }
  #form-submitted a {
    text-decoration: none;
    color: #EE8F00; }
  #form-submitted h1 {
    font-family: "Arvo", Georgia, serif;
    font-size: 22px;
    margin-bottom: 20px;
    margin-top: 80px; }

.page-not-found {
  height: 60vh;
  background-image: url("../images/tiny_grid.png");
  background-repeat: repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .page-not-found h2 {
    font-family: "Arvo", Georgia, serif;
    font-size: 26px;
    color: #303030; }

body, html {
  background: #303030;
  height: 100%;
  margin: 0;
  padding: 0; }

section {
  background: white;
  padding: 30px 15px; }
  @media (min-width: 768px) {
    section {
      padding: 40px 60px; } }
  @media (min-width: 1024px) {
    section {
      padding: 50px 50px; } }

hr {
  margin: 0 0 20px 0; }
  @media (min-width: 768px) {
    hr {
      margin: 0 0 40px 0; } }

.first-section {
  padding: 0; }

.link {
  color: #EE8F00; }

h1, h2, h3, h4, h5, h6, p, a {
  font-family: "Roboto", Helvetica, sans-Serif; }

/*# sourceMappingURL=style.css.map */
