footer {
  background: $secondary-dark;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  left: 0;
  right: 0;
  padding: 40px 20px 40px 40px;
  p {
    color: $white;
    font-size: 14px;
  }
}

.contact-info {
  color: $black;
  font-family: $secondary-font;
  font-style: normal;
  line-height: 18px;
}