.desktop-nav-links {
  display: none;
  @media(min-width:1024px){
    display: flex;
  }
  ul {
    display: none;
    @media(min-width:1024px){
      align-items: center;
      display: flex;
      justify-content: space-around;
      padding: 5px 0 0 30px;
    }
  }
  li {
    @media(min-width:1024px) {
      list-style: none;
      margin: 0 10px;
      padding: 10px 20px;
      transition: box-shadow 0.5s;
      &:hover {
        box-shadow: inset 0 0 0 25px $primary-light;
        transition: box-shadow 0.5s;
        header a {
          color: black;
        }
      }
    }
  }
}

.hamburger-bun {
  background: $primary-light;
  height: 3px;
  margin: 6px 0;
  width: 24px;
  @media(min-width:768px){
    height: 5px;
    margin: 8px;
    width: 35px;
  }
}

header {
  display: flex;
  background: $secondary-dark;
  height: 80px;
  left: 0;
  right: 0;
  top: 0;
  @media(min-width:768px){
    height: 100px;
  }
}

header a {
  text-decoration: none;
  color: $white;
  @media(min-width:1024px){
    font-family: $primary-font;
    font-size: 20px;
  }
}

header h1 {
  color: $primary-light;
  font-family: $primary-font;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 0.08em;
  line-height: 80px;
  padding: 0 0 0 15px;
  @media(min-width:768px){
    line-height: 100px;
    padding: 0 0 0 60px;
  }
}

header .logo a {
  color: $primary-light;
  font-family: $primary-font;
  @media(min-width:768px){
    font-size: 30px;
  }
}


.nav-button {
  color: white;
  cursor: pointer;
  display: block;
  line-height: 80px;
  margin: 20px -10px 20px 0;
  padding: 5px 0 5px 5px;
  position: absolute;
  right: 25px;
  @media(min-width:768px){
    line-height: 100px;
    margin: 22px 35px 22px 0;
  }
  @media(min-width:1024px){
    display: none;
  }
}

.nav-dropdown {
  background: $secondary-dark;
  display: block;
  float: none;
  height: 50px;
  left: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  li {
    display: none;
    font-family: Helvetica;
    width: 100%;
  }
  a {
    color: white;
    display: block;
    font-family: $primary-font;
    font-size: 20px;
    padding: 12px 5%;
    text-decoration: none;
    width: 90%;
    @media(min-width:768px){
      font-size: 26px;
      padding: 16px 5%;
    }
  }
}



.nav-dropdown

.nav-dropdown li a:hover {
  background: $primary-light;
}

.nav-dropdown.open {
  height: auto;
  margin-top: 80px;
  z-index: 1000;
}

.nav-dropdown.open li {
  display: block;
}

.nav-dropdown.open li a {
  text-align: right;
}