.home-description {
  color: $secondary-dark;
  font-family: $secondary-font;
  line-height: 18px;
  font-size: 16px;
  padding: 0 0 20px 0;
  text-align: center;
  @media(min-width:768px){
    font-size: 18px;
    line-height: 22px;
  }
}

.home-detail {
  background: $secondary-light;
  * {
    color: white;
  }
  @media(min-width:1024px){
    display: flex;
    justify-content: center;
    .home-text-container {
      padding: 20px;
      width: 60%;
    }
    img {
      width: 38%;
    }
  }
}

.home-detail-content-container {
  @media(min-width:1024px){
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    max-width: 1000px;
  }
}

.home-experience {
  background: $white;
  @media(min-width:1024px){
    display: flex;
    justify-content: center;
    .home-text-container {
      padding: 20px;
      width: 60%;
    }
    img {
      width: 38%;
    }
  }
}

.home-experience-content-container {
  @media(min-width:1024px){
    align-items: center;
    display: flex;
    max-width: 1000px;
  }
}

.home-main-image {
  height: 200px;
  object-fit: cover;
  width: 100%;
  @media(min-width:768px){
    height: 300px;
  }
}

#home-slider {
  height: 200px;
  @media(min-width:768px){
    height: 300px;
  }
  @media(min-width:1024px){
    height: 400px;
  }
}

.home-slider-overlay {
    background: rgba(238, 143, 0, 0.8);
    display: block;
    height: auto;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 100px;
    width: 80px;
    z-index: 5;
  @media(min-width:768px){
    padding: 20px;
    top: 200px;
    width: 200px;
  }
  @media(min-width:1024px){
    top: 300px;
    width: 250px;
  }
}

.home-slider-overlay-text {
    color: white;
    font-size: 8px;
    line-height: 10px;
  @media(min-width:768px){
    font-family: $secondary-font;
    font-size: 14px;
    letter-spacing: 1.04px;
    line-height: 20px;
    opacity: 1;
  }
  @media(min-width:1024px){
    font-size: 16px;
  }
}

.home-tagline {
  font-family: $primary-font;
  font-size: 26px;
  padding: 0 0 15px 0;
  text-align: center;
  @media(min-width:768px){
    font-size: 34px;
  }
  @media(min-width:1024px){
    font-size: 42px;
  }
}

.home-quality {
  background: $white;
  @media(min-width:1024px){
    display: flex;
    justify-content: center;
    .home-text-container {
      padding: 20px;
      width: 60%;
    }
    img {
      width: 38%;
    }
  }
}

.home-quality-content-container {
  @media(min-width:1024px){
    align-items: center;
    display: flex;
    max-width: 1000px;
  }
}

.slick-dots li button:before {
  font-size: 12px;
  color: white;
  @media(min-width:1024px){
    font-size: 16px;
  }
}

.slick-dots li.slick-active button:before {
  font-size: 12px;
  color: white;
  @media(min-width:1024px){
    font-size: 16px;
  }
}

.slider-image {
  height: 200px;
  object-fit: cover;
  width: 100%;
  @media(min-width:768px){
    height: 300px;
  }
  @media(min-width:1024px){
    height: 400px;
  }
}

ul.slick-dots {
  margin-bottom: 40px;
}

.quote-callout {
  background-color: $primary-light;
  height: 150px;
  .callout-content {
    align-items: center;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
  }
  h2 {
    color: $white;
    font-family: $primary-font;
    font-size: 32px;
    margin-bottom: 20px;
  }
  a {
    color: $secondary-dark;
    font-family: $primary-font;
    font-size: 26px;
    text-decoration: none;
    &:hover {
      color: $black;
    }
  }
  i {
    font-family: FontAwesome;
    font-size: 26px;
    color: $secondary-dark;
    margin-right: 5px;
  }
}

.phone-link {
  position: relative;
  text-decoration: none;
  &:before {
    content: "";
    bottom: -5px;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    background-color: $secondary-dark;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  &:hover {
    &:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
}







