#home-experience {
  background: $white;
  @media(min-width:1024px){
    display: flex;
    justify-content: space-between;
    .home-text-container {
      padding: 20px;
      width: 60%;
    }
    img {
      width: 38%;
    }
  }
}

.home-description {
  color: $secondary-dark;
  font-size: 16px;
  font-family: $secondary-font;
  line-height: 18px;
  padding: 0 0 20px 0;
  text-align: center;
  @media(min-width:768px){
    font-size: 18px;
    line-height: 22px;
  }
}

#home-detail {
  background: $secondary-light;
  * {
    color: white;
  }
  @media(min-width:1024px){
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    .home-text-container {
      padding: 20px;
      width: 60%;
    }
    img {
      width: 38%;
    }
  }
}

#home-quality {
  background: $white;
  @media(min-width:1024px){
    display: flex;
    justify-content: space-between;
    .home-text-container {
      padding: 20px;
      width: 60%;
    }
    img {
      width: 38%;
    }
  }
}

.home-main-image {
  height: 200px;
  object-fit: cover;
  width: 100%;
  @media(min-width:768px){
    height: 300px;
  }
}

.home-tagline {
  font-family: $primary-font;
  font-size: 26px;
  padding: 0 0 15px 0;
  text-align: center;
  @media(min-width:768px){
    font-size: 34px;
  }
  @media(min-width:1024px){
    font-size: 42px;
  }
}

#home-slider {
  height: 200px;
  @media(min-width:768px){
    height: 300px;
  }
  @media(min-width:1024px){
    height: 400px;
  }
}

.home-slider-overlay {
  display: none;
  @media(min-width:768px){
    background: rgba(238, 143, 0, 0.8);
    display: block;
    height: auto;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 250px;
    width: 200px;
    z-index: 5;
  }
  @media(min-width:1024px){
    top: 300px;
    width: 250px;
  }
}

.home-slider-overlay-text {
  @media(min-width:768px){
    color: white;
    font-family: $secondary-font;
    font-size: 14px;
    letter-spacing: 1.04px;
    line-height: 20px;
    opacity: 1;
  }
  @media(min-width:1024px){
    font-size: 16px;
  }
}

.slick-dots li button:before {
  font-size: 12px !important;
  color: white !important;
  @media(min-width:1024px){
    font-size: 16px !important;
  }
}

.slick-dots li.slick-active button:before {
  font-size: 12px !important;
  color: white !important;
  @media(min-width:1024px){
    font-size: 16px !important;
  }
}

.slider-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  @media(min-width:768px){
    height: 300px;
  }
  @media(min-width:1024px){
    height: 400px;
  }
}

ul.slick-dots {
  margin-bottom: 40px;
}
