#home-experience {
  background: $white;
}

.home-description {
  color: $secondary-dark;
  font-size: 16px;
  font-family: $secondary-font;
  line-height: 18px;
  padding: 0 0 20px 0;
  text-align: center;
  @media(min-width:768px){
    font-size: 18px;
    line-height: 22px;
  }
}

#home-detail {
  background: $secondary-light;
  * {
    color: white;
  }
}

.home-main-image {
  height: 200px;
  object-fit: cover;
  width: 100%;
  @media(min-width:768px){
    height: 300px;
  }
}

.home-tagline {
  font-family: $primary-font;
  font-size: 26px;
  padding: 0 0 15px 0;
  text-align: center;
  @media(min-width:768px){
    font-size: 34px;
  }
}

#home-slider {
  height: 200px;
  @media(min-width:768px){
    height: 300px;
  }
}

.slick-dots li button:before {
  font-size: 12px !important;
  color: white !important;
}

.slick-dots li.slick-active button:before {
  font-size: 12px !important;
  color: white !important;
}

.slider-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  @media(min-width:768px){
    height: 300px;
  }
}

.test-slider > img {
  width: 200px;
  height: auto;
}

ul.slick-dots {
  margin-bottom: 40px;
}
