.services-description {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  margin: 10px 0;
  @media(min-width:768px){
    font-size: 16px;
    line-height: 20px;
  }
}

.services-list {
  color: white;
  font-family: $primary-font;
  letter-spacing: 0.1rem;
  line-height: 22px;
  margin: 0 0 10px 25px;
  @media(min-width:768px){

  }
}

.services-main-image {
  height: 200px;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
  @media(min-width:768px){
    height: 300px;
  }
}

.services-other {
  font-family: $primary-font;
  font-size: 18px;
  font-weight: 100;
  margin: 10px 0 5px 0;
  padding-left: 5px;
  @media(min-width:768px){
    font-size: 22px;
  }
}

.services-other-div {
  background: $primary-light;
  margin-top: 20px;
  padding: 5px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
  @media(min-width:768px){
    padding: 10px;
  }
}

.services-section {
  padding: 15px 15px 30px 15px;
  @media(min-width:768px){
    margin-top: -40px;
    padding: 40px 30px;
  }
}

.services-tagline {
  font-family: $primary-font;
  font-size: 18px;
  font-weight: 100;
  margin: 5px 0 10px 0;
  @media(min-width:768px){
    font-size: 22px;
    margin: 10px 0 10px 0;
  }
}

.services-title {
  font-family: $primary-font;
  font-size: 24px;
  margin: 10px 0 5px 0;
  text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
  @media(min-width:768px){
    font-size: 36px;
  }
}

.services-tabs-section {
  margin: -30px 0 0 0;
  padding: 0;
  @media(min-width:768px){
    margin-top: -30px;
    padding: 10px 10;
  }
}