.services-description {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  margin: 10px 0;
  @media(min-width:768px){
    font-size: 16px;
    line-height: 20px;
  }
}

.services-list {
  color: white;
  font-family: $primary-font;
  letter-spacing: 0.1rem;
  line-height: 22px;
  margin: 0 0 10px 25px;
  @media(min-width:768px){
    font-size: 20px;
    line-height: 24px;
  }
}

.services-main-image {
  height: 200px;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  @media(min-width:768px){
    height: 300px;
  }
}

.services-other {
  font-family: $primary-font;
  font-size: 18px;
  font-weight: 100;
  margin: 10px 0 5px 0;
  padding-left: 5px;
  @media(min-width:768px){
    font-size: 24px;
  }
}

.services-other-div {
  background: $primary-light;
  margin-top: 20px;
  padding: 5px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
  @media(min-width:768px){
    padding: 10px;
  }
}

.services-section {
  padding: 15px 15px 30px 15px;
  @media(min-width:768px){
    margin-top: -30px;
    padding: 40px 30px;
  }
  @media(min-width:1024px){
    padding: 40px 50px;
  }
}

.services-tagline {
  font-family: $primary-font;
  font-size: 16px;
  font-weight: 100;
  line-height: 18px;
  margin: 10px 0 10px 0;
  @media(min-width:768px){
    font-size: 22px;
    margin: 10px 0 10px 0;
  }
  @media(min-width:1024px){
    margin: 10px 0 30px 0;
  }
}

.services-title {
  font-family: $primary-font;
  font-size: 24px;
  margin: 10px 0 5px 0;
  @media(min-width:768px){
    font-size: 36px;
    margin: 10px 0 20px 0;
  }
}

.services-tabs-section {
  margin: 0;
  padding: 0 10px;
  ul#tabs li {
    margin: 5px 0;
    width: 140px;
    @media(min-width:768px){
      width: 315px;
      @media(min-width:1024px){
        width: 200px;
      }
    }
    a {
      width: 140px;
      @media(min-width:768px){
        width: 315px;
      }
      @media(min-width:1024px){
        width: 200px;
      }
    }
  }
  #tabs{
    @media(min-width: 768px){
      margin: 30px auto 0px auto;
      padding: 0;
    }
  }
  @media(min-width:768px){
    margin-top: -30px;
    padding: 10px 10;
  }
}