#tabs {
  list-style: none;
  overflow: hidden;
  padding: 0 0 15px 0;
  width: 100%;
  @media(min-width:768px){
    // margin: 0 auto -20px auto;
    margin: -40px auto 10px auto;
    padding: 25px 10px 10px 10px;
    width: 90%;
  }
}

#tabs li {
  float: left;
  width: 50%;
}

#tabs a {
  background: $secondary-dark;
  box-shadow: 0 2px 2px rgba(0,0,0,.4);
  color: $white;
  float: left;
  margin: 5px;
  padding: 1em 1em;
  position: relative;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,.8);
  width: 74%;
  @media(min-width:768px){
    padding: 1em 1.8em;
  }
}

#tabs a:hover,
#tabs a:focus {
  background: $secondary-dark;
}

#tabs a:focus {
  outline: 0;
}

#tabs #current a {
  background: $secondary-light;
  z-index: 3;
}

.tab-text {
  font-family: $primary-font;
  font-size: 16px;
  @media(min-width:768px){
    font-size: 22px;
  }
}

#tab-about {
  background: $secondary-dark;
  color: $white;
}

@media(min-width:1024px){

  //==================================================================================
  // Tab structure changes on tablet. :after pseudo elements don't exist on mobile.
  //==================================================================================

  #tabs #current a::after {
    background: $secondary-dark;
    border-top-left-radius: 20px;
    z-index: 3;
  }

  #tabs a::after {
    background: $secondary-dark;
    border-radius: 0 5px 0 0;
    bottom: 0;
    box-shadow: 2px 2px 2px rgba(0,0,0,.4);
    content:'';
    position:absolute;
    right: -0.5em;
    top: 0;
    transform: skew(10deg);
    width: 1em;
    z-index: 1;
  }

  #tabs a:hover::after,
  #tabs a:focus::after {
    background: $secondary-dark;
  }
}
