#tabs {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
  overflow: hidden;
  padding: 10px 0 0 0;
  width: 100%;
  @media(min-width:768px){
    margin: 30px auto 10px auto;
    padding: 25px 10px 10px 10px;
    width: 90%;
  }
  @media(min-width:1024px){
    justify-content: space-between;
  }
}

#tabs li {
  width: 120px;
  @media(min-width:768px){
    width: 250px;
  }
  @media(min-width:1024px){
    width: 400px;
    &:hover {
      a {
        background: $secondary-dark-hover;
      }
    }
  }
}

#tabs a {
  background: $secondary-dark;
  box-shadow: 0 2px 2px rgba(0,0,0,.4);
  color: $white;
  float: left;
  padding: 1em 0;
  position: relative;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  width: 120px;
  @media(min-width:768px){
    padding: 1em 0;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 250px;
  }
  @media(min-width:1024px){
    width: 400px;
    &:hover {
      background: $secondary-dark-hover;
    }
  }
}

#tabs a:hover,
#tabs a:focus {
  background: $secondary-dark;
}

#tabs a:focus {
  outline: 0;
}

#tabs #current a {
  background: $secondary-light;
  &:hover {
    background: $secondary-light-hover;
  }
}

.tab-text {
  font-family: $primary-font;
  font-size: 14px;
  @media(min-width:768px){
    font-size: 20px;
  }
  @media(min-width:1024px){
    &:hover{
      background: red;
    }
  }
}

#tab-about {
  background: $secondary-dark;
  color: $white;
}