$primary-light: #FF9900;
$primary-dark: #E69000;

$secondary-dark: #303030;
$secondary-light: #4c4c4c;

$black: #000000;
$white: #FFFFFF;

$primary-font: 'Arvo', serif;
$secondary-font: 'Roboto', sans-Serif;
