$primary-light: #EE8F00;
$primary-dark: #774800;

$secondary-dark: #303030;
$secondary-light: #636363;

$black: #000000;
$white: #FFFFFF;

$primary-font: 'Arvo', serif;
$secondary-font: 'Roboto', sans-Serif;
