@import 'reset';
@import 'variables';
@import '_header-mobile';
@import 'footer';
@import 'home';
@import 'about';
@import 'services';
@import 'tabs';
@import 'contact';

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

section {
  background: white;
  padding: 30px 15px;
}

.first-section {
  padding: 0;
}

h1,h2,h3,h4,h5,h6,p,a {
  font-family: $secondary-font;
}