@import 'reset';
@import 'variables';
@import '_header';
@import 'footer';
@import 'home';
@import 'about';
@import 'services';
@import 'tabs';
@import 'contact';
@import 'form-submitted';
@import '404';

body, html {
  background: $secondary-dark;
  height: 100%;
  margin: 0;
  padding: 0;
}

section {
  background: white;
  padding: 30px 15px;
  @media(min-width:768px){
    padding: 40px 60px;
  }
  @media(min-width:1024px){
    padding: 50px 50px;
  }
}

hr {
  margin: 0 0 20px 0;
  @media(min-width:768px){
    margin: 0 0 40px 0;
  }
}

.first-section {
  padding: 0;
}

.link {
  color: $primary-light;
}

h1,h2,h3,h4,h5,h6,p,a {
  font-family: $secondary-font;
}